## INFO370 Problem Set: Categorical variables and logistic regression

#### 1 Titanic: What Happened During Her Last Hours? (40pct)

##### 1.1 Titanic Data (8 pct)

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.formula.api as smf
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import precision_score
from sklearn.metrics import confusion_matrix

1. load file titanic.csv, and checks that the data looks good.

In [2]:
titanic = pd.read_csv("data/titanic.csv.bz2", sep=",")
titanic.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [3]:
titanic.dtypes

pclass         int64
survived       int64
name          object
sex           object
age          float64
sibsp          int64
parch          int64
ticket        object
fare         float64
cabin         object
embarked      object
boat          object
body         float64
home.dest     object
dtype: object

In [4]:
titanic.isna().sum()

pclass          0
survived        0
name            0
sex             0
age           263
sibsp           0
parch           0
ticket          0
fare            1
cabin        1014
embarked        2
boat          823
body         1188
home.dest     564
dtype: int64

From the first few lines and data types the data look good. But there are few columns missing lots of value but it is reasonalbe since it is a accident.

2. find the number of missings in the important variables. You are definitely going to use variables
survived, pclass, sex, age, and you may use more (see below).

In [5]:
titanic.isna().sum()

pclass          0
survived        0
name            0
sex             0
age           263
sibsp           0
parch           0
ticket          0
fare            1
cabin        1014
embarked        2
boat          823
body         1188
home.dest     564
dtype: int64

3. Are there values that are technically not missing but still implausible?

The body and cabin missing to me is reasonable since this accident really destory everying in the middle of ocean. However, the missings of home.dest, age is implausible to me. I thought we have a really good ticket tracking sytem at that time.

##### 1.2 Logistic Regression (32pct)

1. Based on the survivors accounts, which variables do you think are the most important ones
to describe survival? How should those be related to the survival? (should they increase or
decrease chances of survival?)

I think the survived definately are the most important one to desribe survival. Other varibles could be sex, age and pcalss.Female, children and olds have higher chances to be survival. Also, people who live in higher class also have proity to survive. Young man or people in lower class have less survival possiblity.

2. Create a new variable child, that is 1 if the passenger was youger than 14 years old.

In [6]:
titanic['child'] = ((titanic['age'] < 14) & (titanic['age'] > 0)).astype(int)
titanic.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest,child
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO",0
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON",1
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",1
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON",0
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",0

3. Explain why do we have to treat pclass as categorical.

Pclass means each passengers' class, it means they pay different money for each class. There have lots of people in same class and it did not mean they have different numbers, so we should treat pclass as categorical.

4. Estimate a multiple logistic regression model where you explain survival by these variables.
Show the results.

In [7]:
m = smf.logit("survived ~ child + pclass + sex", data=titanic).fit()
m.summary()

Optimization terminated successfully.
         Current function value: 0.471588
         Iterations 6

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               survived   No. Observations:                 1309
Model:                          Logit   Df Residuals:                     1305
Method:                           MLE   Df Model:                            3
Date:                Mon, 18 Jul 2022   Pseudo R-squ.:                  0.2909
Time:                        12:22:42   Log-Likelihood:                -617.31
converged:                       True   LL-Null:                       -870.51
Covariance Type:            nonrobust   LLR p-value:                1.950e-109
===============================================================================
                  coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept       2.9848      0.236     12.629      0.000       2.522       3.448
sex[T.male]    -2.5129      0.149    -16.918      0.000      -2.804      -2.222
child           1.2228      0.259      4.718      0.000       0.715       1.731
pclass         -0.9171      0.087    -10.566      0.000      -1.087      -0.747
===============================================================================
"""

In [8]:
m.get_margeff().summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
        Logit Marginal Effects
=====================================
Dep. Variable:               survived
Method:                          dydx
At:                           overall
===============================================================================
                 dy/dx    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------
sex[T.male]    -0.3825      0.011    -33.615      0.000      -0.405      -0.360
child           0.1861      0.038      4.836      0.000       0.111       0.262
pclass         -0.1396      0.012    -12.078      0.000      -0.162      -0.117
===============================================================================
"""

5. Interpret the results. Did men or women, old or young have larger chances of survival? What
about different passenger classes? How big were the effects?

Women and young children have larger chances of survival. Higher clasess have lower survival chances. The effects for age and sex are huge and strongly relates to the survival rate. Male are 38% less likely to survive than women when they are in the same age and same class. Children are 19% more likely to survive then adults when they are in the same sex and same class. Passenger in one class higher are 14% less likely to survive when they are in the same sex and age.

6. But what about young men? Were they able to force their way to the boats? Create a variable
“young man” (e.g. males between 18 and 35, or anything else you see suitable) and see if they
survived more likely than others.

In [9]:
titanic['youngman'] = ((titanic['age'] > 18.0) & (titanic['age'] < 35.0) & (titanic['sex'] == "male")).astype(int)
m = smf.logit("survived ~ youngman + pclass", data=titanic).fit()
m.summary()

Optimization terminated successfully.
         Current function value: 0.595965
         Iterations 5

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               survived   No. Observations:                 1309
Model:                          Logit   Df Residuals:                     1306
Method:                           MLE   Df Model:                            2
Date:                Mon, 18 Jul 2022   Pseudo R-squ.:                  0.1038
Time:                        12:22:42   Log-Likelihood:                -780.12
converged:                       True   LL-Null:                       -870.51
Covariance Type:            nonrobust   LLR p-value:                 5.523e-40
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      1.3986      0.173      8.085      0.000       1.060       1.738
youngman      -1.0851      0.157     -6.903      0.000      -1.393      -0.777
pclass        -0.7293      0.072    -10.087      0.000      -0.871      -0.588
==============================================================================
"""

In [10]:
m.get_margeff().summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
        Logit Marginal Effects
=====================================
Dep. Variable:               survived
Method:                          dydx
At:                           overall
==============================================================================
                dy/dx    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
youngman      -0.2220      0.030     -7.343      0.000      -0.281      -0.163
pclass        -0.1492      0.012    -11.996      0.000      -0.174      -0.125
==============================================================================
"""

The are much more likely to survived than other from our analysis. Youngman are 22% less likely to survive when they are in the same class.

7. Based on the results above, explain what can you tell about the last hours on Titanic. Are
the survivors’ accounts broadly accurate? Did the order break down? Can you tell anything
else interesting?

I think the survivors accounts broadly are accurate. I think the order did not break down since it matches the order of childrean and women are the first leaving the boat and the rest are men. I found that people are caring for women and children in last minutes is interesting.

#### 2 COMPAS: who is re-commiting crime? (60pct)

##### 2.1 Is COMPAS fair? (30pct)

1. Load the COMPAS data, and perform the basic checks.

In [11]:
compas = pd.read_csv("data/compas-score-data.csv.bz2", sep="\t")
compas.head()

,age,c_charge_degree,race,age_cat,sex,priors_count,decile_score,two_year_recid
0,69,F,Other,Greater than 45,Male,0,1,0
1,34,F,African-American,25 - 45,Male,0,3,1
2,24,F,African-American,Less than 25,Male,4,4,1
3,44,M,Other,25 - 45,Male,0,1,0
4,41,F,Caucasian,25 - 45,Male,14,6,1

In [12]:
compas.isna().sum()

age                0
c_charge_degree    0
race               0
age_cat            0
sex                0
priors_count       0
decile_score       0
two_year_recid     0
dtype: int64

In [13]:
compas.dtypes

age                 int64
c_charge_degree    object
race               object
age_cat            object
sex                object
priors_count        int64
decile_score        int64
two_year_recid      int64
dtype: object

The data looks good since it did not have missing values and the types for each columns looks good.

2. Filter the data to keep only Caucasian and African-Americans. There are just too few offenders
of other races.

In [14]:
compas = compas[(compas.race == 'African-American') | (compas.race == 'Caucasian')]
compas.head()

,age,c_charge_degree,race,age_cat,sex,priors_count,decile_score,two_year_recid
1,34,F,African-American,25 - 45,Male,0,3,1
2,24,F,African-American,Less than 25,Male,4,4,1
4,41,F,Caucasian,25 - 45,Male,14,6,1
6,39,M,Caucasian,25 - 45,Female,0,1,0
7,27,F,Caucasian,25 - 45,Male,0,4,0

3. Create a new dummy variable based off of COMPAS risk score (decile_score), which indicates
if an individual was classified as low risk (score 1-4) or high risk (score 5-10).
Hint: you can proceed in different ways but for technical reasons related the tasks below, the
best way to do it is to create a variable “high score”, that takes values 1 (decile score 5 and
above) and 0 (decile score 1-4).

In [15]:
compas['high_score'] = (compas['decile_score'] >= 5).astype(int)

4. Now analyze the offenders across this new risk category:
(a) What is the recidivism rate (percentage of offenders who re-commit the crime) for low-
risk and high-risk individuals?
(b) What are the recidivism rates for African-Americans and Caucasians?

In [16]:
low = compas[compas.high_score == 0]
high = compas[compas.high_score == 1]
l = low[low.two_year_recid == 1].two_year_recid.count()/low.age.count()
h = high[high.two_year_recid == 1].two_year_recid.count()/high.age.count()
l,h

(0.3200145296040683, 0.6344554455445545)

In [17]:
african = compas[compas.race == "African-American"]
caucasian = compas[compas.race == "Caucasian"]
a = african[african.two_year_recid == 1].two_year_recid.count()/african.age.count()
c = caucasian[caucasian.two_year_recid == 1].two_year_recid.count()/caucasian.age.count()
a,c

(0.5231496062992126, 0.3908701854493581)

The recidvism rate is 32% for low risk individuls and 63% for high risk individuls. The recidivism rate is 52% for Africans and 39% for caucasians.

5. Now create a confusion matrix comparing COMPAS predictions for recidivism (low risk/high
risk) and the actual two-year recidivism and interpret the results. In order to be on the same
page, let’s call recidivists “positives”.
Note: you do not have to predict anything here. COMPAS has made the prediction for you,
this is the variable you created in 3 based on decile_score. See the referred articles about
the controversy around COMPAS methodology.
Note 2: Do not just output a confusion matrix with accompanying text like “accuracy = x%,
precision = y%”. Interpret your results such as “z% of recidivists were falsely classified as
low-risk, COMPAS accurately classified k% of individuals, etc.”

In [18]:
cm = confusion_matrix(compas.two_year_recid, compas.high_score)
cm

array([[1872,  923],
       [ 881, 1602]])

In [19]:
tn = cm[0,0]
fp = cm[0,1]
fn = cm[1,0]
tp = cm[1,1]

In [20]:
# false negative = falsely predicted to be negative/total cases to be predicted negative
fn/(tn+fn)

0.3200145296040683

In [21]:
accuracy = (tn + tp)/np.sum(cm)
accuracy

0.6582038651004168

32% of recidivists were falsely classified as
low-risk, COMPAS accurately classified 66% of individuals.

6. Find the accuracy of the COMPAS classification, and also how its errors (false negatives and
false positives) are distributed. Would you feel comfortable having a judge to use COMPAS
to inform sentencing guidelines? At what point would the error/misclassification risk be
acceptable for you? What do you think, how well can judges perform the same task without
COMPAS’s help?
Remember: human judges are not perfect either!

In [22]:
accuracy = (tn + tp)/np.sum(cm)
accuracy

0.6582038651004168

In [23]:
# recall
fn/(tp+fn)

0.35481272654047524

In [24]:
# false positive
fp/(tn+fp)

0.3302325581395349

The accuracy of the COMPAS classification is 66%. The false negatives rate is 35%, and the false positives rate is 33%. I do not feel uncomfortable having a judge to use COMPAS to inform sentencing guidelines since the accuracy rate is little bit low., but I don't think judge will perform better without COMPAS's help. Human judges have sometimes make personal judgement based on various factor. We should minimize these effects.

7. Now repeat your confusion matrix calculation and analysis from 5. But this time do it
separately for African-Americans and for Caucasians:
(a) How accurate is the COMPAS classification for African-American individuals? For Cau-
casians?
(b) What are the false positive rates (false recidivism rates) FPR?
(c) The false negative rates (false no-recidivism rates) FNR?
We did not talk about FPR and FNR in class, but you can consult Lecture Notes, section 6.1.1.

In [25]:
cm_a = confusion_matrix(african.two_year_recid, african.high_score)
cm_a

array([[ 873,  641],
       [ 473, 1188]])

In [26]:
np.mean(african.two_year_recid == african.high_score)

0.6491338582677165

In [27]:
tn_a = cm_a[0,0]
fp_a = cm_a[0,1]
fn_a = cm_a[1,0]
tp_a = cm_a[1,1]

In [28]:
# FPR A
fp_a / (tn_a + fp_a)

0.4233817701453104

In [29]:
# FNR A
fn_a / (tp_a + fn_a)

0.2847682119205298

In [30]:
cm_c = confusion_matrix(caucasian.two_year_recid, caucasian.high_score)
cm_c

array([[999, 282],
       [408, 414]])

In [31]:
tn_c = cm_c[0,0]
fp_c = cm_c[0,1]
fn_c = cm_c[1,0]
tp_c = cm_c[1,1]

In [32]:
np.mean(caucasian.two_year_recid == caucasian.high_score)

0.6718972895863052

In [33]:
# FPR C
fp_c / (tn_c + fp_c)

0.22014051522248243

In [34]:
# FNR C
fn_c / (tp_c + fn_c)

0.49635036496350365

The accuracy of the COMPAS classification is 65% for African-Americans and 67% for Caucasians. The FPR of the COMPAS is 42% for African-Americans and 22% for Caucasians. The FNR of the COMPAS is 28% for African-Americans and 50% for Caucasians.

8. If you have done this correctly, you will find that COMPAS’s percentage of correctly catego-
rized individuals (accuracy) is fairly similar for African-Americans and Caucasians, but that
false positive rates and false negative rates are different. Look again at the overal recidi-
vism rates in the dataset for Black and White individuals. In your opinion, is the COMPAS
algorithm fair? Justify your answer.

I think COMPAS algorithm is not fair. Although the accuracy of classificaiton for Black and White individuals are similiar, the FPR and FNR have huge differences. A high FPR for African Americans means African Americans have higher change to be falsely classifies as recidivism. A high FNR for Caucasians means Caucasians have higher change to be falsely classifies as non-recidivism. These rate show there are unequal classification between White and Black.

#### 2.2 Can you beat COMPAS? (30pct)

1. Before we start: what do you think, what is an appropriate model performance measure here?
A, P, R, For something else? Maybe you want to report multiple measures? Explain!

I think precision in this case is a good choice. I need to make sure that false positive is low for my model. And precision is good when false positive is bad in our recidivism model.

2. Now it is time to do the modeling. Create a logistic regression model that contains all
explanatory variables you have in data into the model. (Some of these you have to convert to
dummies). Do not include the variables discussed above, do not include race and gender in
this model either to avoid explicit gender/racial bias.
Compute the performance measure(s) you proposed in 1.

In [35]:
X1 = compas[["c_charge_degree", "age_cat", "priors_count", "age"]]
X1 = pd.get_dummies(X1, drop_first=True)
X1.head(3)

,priors_count,age,c_charge_degree_M,age_cat_Greater than 45,age_cat_Less than 25
1,0,34,0,0,0
2,4,24,0,0,1
4,14,41,0,0,0

In [36]:
y = compas.two_year_recid

m1 = LogisticRegression()
_ = m1.fit(X1, y)

3. Experiment with different models to find the best model according to your preformance indi-
cator. Include/exclude different variables. You may also do feature engineering, e.g. create
a different set of age groups, include variables like age2, age2, interaction effects, etc. But do
not include race and gender.
Report what did you try (but no need to report the full results of all of your unsuccessful
attempts), and your best model’s performance. Did you got better results or worse results
than COMPAS?

In [37]:
yhat1 = m1.predict(X1)
precision_score(y, yhat1)

0.6582656984194789

In [38]:
X2 = compas[["c_charge_degree", "age_cat", "priors_count"]]
X2 = pd.get_dummies(X2, drop_first=True)
y = compas.two_year_recid

m2 = LogisticRegression()
_ = m2.fit(X2, y)
yhat2 = m2.predict(X2)
precision_score(y, yhat2)

0.6501521077792264

In [39]:
X3 = compas[["c_charge_degree", "age_cat", "age"]]
X3 = pd.get_dummies(X3, drop_first=True)
y = compas.two_year_recid

m3 = LogisticRegression()
_ = m3.fit(X3, y)
yhat3 = m3.predict(X3)
precision_score(y, yhat3)

0.5785234899328859

In [40]:
X4 = compas[["priors_count", "age_cat", "age"]]
X4 = pd.get_dummies(X4, drop_first=True)
y = compas.two_year_recid

m4 = LogisticRegression()
_ = m4.fit(X4, y)
yhat4 = m4.predict(X4)
precision_score(y, yhat4)

0.6576842105263158

In [41]:
X5 = compas[["priors_count", "priors_count", "age"]]
X5 = pd.get_dummies(X5, drop_first=True)
y = compas.two_year_recid

m5 = LogisticRegression()
_ = m5.fit(X5, y)
yhat5 = m5.predict(X5)
precision_score(y, yhat5)

0.6926147704590818

The best result I get is 69% precision in the last modle where I exclude the age_cat. And it is higher than COMPAS' 63% precision about 5% higher.

4. Now add sex to the model. Does it help to improve the performance?
Please do not devote too too much attention on tiny differences, e.g. whether your accuracy
is better by 0.001 or F-score worse by 0.0005. Such tiny differences have hardly any real-world
significance.

In [42]:
X6 = compas[["priors_count", "priors_count", "age", "sex"]]
X6 = pd.get_dummies(X6, drop_first=True)
y = compas.two_year_recid

m6 = LogisticRegression()
_ = m6.fit(X6, y)
yhat6 = m6.predict(X6)
precision_score(y, yhat6)

0.6883957466481738

The difference of the precision score that including sex are small, but it somewhat does not help our model.

5. And finally add race. Does the model improve? Again, let’s not talk about tiny differences
here.

In [43]:
X7 = compas[["priors_count", "priors_count", "age", "sex", "race"]]
X7 = pd.get_dummies(X7, drop_first=True)
y = compas.two_year_recid

m7 = LogisticRegression()
_ = m7.fit(X7, y)
yhat7 = m7.predict(X7)
precision_score(y, yhat7)

0.6862835959221502

The difference of the precision score that including race are small, but it somewhat does not help our model.

6. Discuss the results. Did you manage to be equally good as COMPAS? Did you create a better
model? Do gender and race help to improve your predictions? What should judges do when
having access to such models? Should they use such models?
Finally, is your model any better (or worse) than COMAPS in terms of fairness? Let’s use your
model to predict recidivism for everyone (i.e. all data, ignore training-testing split), and see if you
managed to FPR and FNR for African-Americans and Caucasians are now similar.

I am be able to manage a better model as COMPAS. Gender and race does nor help to improve my predictions. Judges should use the model as a checking tool or reference when having access to such models. I think they should use the model since people always have personal opinions and stereotypes. My model is better than COMAPS in terms of fairness since I do not include race and gender in my model.

7. Replicate 2.1.7 using your best model: pick the best model from question 2.2.3 (i.e. your
best model without sex and race), predict recidivism for everyone in data (ie only African-
Americans and Caucasians), and compute FPR and FNR separately for African-Americans
and Caucasians.

In [46]:
compas['new'] = yhat5
african2 = compas[compas.race == 'African-American']
caucasian2 = compas[compas.race == 'Caucasian']

In [47]:
cm_aa = confusion_matrix(african2.two_year_recid, african2.new)
cm_aa

array([[1079,  435],
       [ 586, 1075]])

In [48]:
cm_cc = confusion_matrix(caucasian2.two_year_recid, caucasian2.new)
cm_cc

array([[1100,  181],
       [ 509,  313]])

In [49]:
tn_aa = cm_aa[0,0]
fp_aa = cm_aa[0,1]
fn_aa = cm_aa[1,0]
tp_aa = cm_aa[1,1]

In [50]:
tn_cc = cm_cc[0,0]
fp_cc = cm_cc[0,1]
fn_cc = cm_cc[1,0]
tp_cc = cm_cc[1,1]

In [51]:
# FPR AA
fp_aa / (tn_aa + fp_aa)

0.28731836195508587

In [52]:
# FNR AA
fn_aa / (tp_aa + fn_aa)

0.3527995183624323

In [53]:
# FPR C
fp_cc / (tn_cc + fp_cc)

0.141295862607338

In [54]:
# FNR C
fn_cc / (tp_cc + fn_cc)

0.6192214111922141

8. Explain what do you get. Are your results different from COMPAS in any significant way?

The FPR for both African-American and Caucasian are much lower than original COMPAS model and the FNR for both African-American and Caucasian are higher than original COMPAS model. We have less change to faslely classifie African-American or Caucasian are

Finally tell us how many hours did you spend on this PS.

I spend 8 hours on this PS.